// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container {
  display: flex;

  p {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 75px;
    width: 75px;
    border: solid 1px black;
    background-color: blue;
    color: white;
    margin: 10px;
    font-size: 49px;
    font-weight: bold;
    box-shadow: 5px 4px rgba(0,0,0,.1);
  }
}
